@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Slab Regular'), url('/fonts/RobotoSlab-Regular.woff') format('woff');
}
    

@font-face {
    font-family: 'Roboto Slab Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Slab Thin'), url('/fonts/RobotoSlab-Thin.woff') format('woff');
}
    

@font-face {
    font-family: 'Roboto Slab Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Slab Light Italic'), url('/fonts/RobotoSlab-LightItalic.woff') format('woff');
}
    

@font-face {
    font-family: 'Roboto Slab Light';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Slab Light'), url('/fonts/RobotoSlab-Light.woff') format('woff');
}
    

@font-face {
    font-family: 'Roboto Slab Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Slab Bold'), url('/fonts/RobotoSlab-Bold.woff') format('woff');
}

* {
    font-family: 'Roboto Slab Light', 'Vazirmatn', sans-serif;
}